:root {
	--bg: #03b1e6;
}

*, *::before, *::after {
	margin: 0;
	box-sizing: border-box;
	font-family: Courier New;
}

html {
	scroll-behavior: smooth;	
}

body {
	background: #FFF;
	font-size: 1.2em;
}

.nav {
	background: var(--bg);
	text-align: center;
	position: fixed;
	z-index: 99;
	width: 100%;
}

nav {
	position: absolute;
	top: 100%;
	left: 0;
	text-align: left;
	background: var(--bg);
	width: 100%;
	font-weight: 900;
	letter-spacing: 1px;
	transform: scale(1, 0);
	transform-origin: top;
	transition: transform 500ms ease-in-out;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	margin-bottom: 1em;
	margin-left: 1em;
}

nav a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 1.2em;
	text-transform: uppercase;
	opacity: 0;
	transition: opacity 7500ms ease-in-out 250ms;
}

nav a:hover {
	color: #312e3f;
}

.nav h1 {
	color: white;
}

.nav-toggle:checked ~ nav {
	transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a{
	opacity: 1;
	transition: opacity 150ms ease-in-out;
}

.nav-toggle {
	display: none;
}

.nav-toggle-label {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 1em;
	display: flex;
	height: 100%;
	align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
	display: block;
	background: #FFFFFF;
	height: 2px;
	width: 2em;
	border-radius: 2px;
	position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	content: '';
	position: absolute;	
}

.nav-toggle-label span::before{
	bottom: 7px;
}

.nav-toggle-label span::after{
	top: 7px;
}

@media screen and (min-width: 960px) {
	.nav-toggle-label {
		display: none;
	}
	.nav {
		display: grid;
		grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
	}
	.nav h1 {
		grid-column: 3 / 2;
		padding-top: 0.25em;
	}
	nav {
		all: unset;
		grid-column: 3 / 4;
		font-weight: 900;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 1em 0 1em 0;
	}
	
	nav a {
		opacity: 1;
		position: relative;
	}
	
	nav li {
		margin-bottom: 0;
		margin-left: 3em;
	}
	
	nav ul {
		display: flex;	
		justify-content: flex-end;		
	}
	
	nav a::before {
		content: '';
		display: block;
		background: #FFF;
		height: 5px;
		position: absolute;
		top: -0.5em;
		left: 0;
		right: 0;
		transform: scale(0,1);
		transition: transform ease-in-out 250ms;
	}
	
	nav a:hover::before {
		transform: scale(1,1);
	}
	
	nav a:focus::before {
		transform: scale(1,1);
	}
}

.strona {
	position: relative;
	left: 0;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
}

#sekcja {
	position: absolute;
	margin-top: 4em;
	top: 0;
	width: 100%;
	min-height: 100%;
	font-size: 0.75em;
}

#sekcja ul {
	font-weight: normal;
	list-style: none;
}

.rasy ul div > li:hover {
	color: #03b1e6;
	cursor: pointer;
}

#sekcja ul li > ul:hover {
	color: #FFF;
	cursor: default;
}

#sekcja ul li > ul {
	color: #FFF;
	cursor: default;
}

.link {
	font-size: 1.25em;
	color: #03b1e6;
	font-weight: 700;
	letter-spacing: 0.1rem;
	text-decoration: none;
}

.link:hover{
	color: #f22d49;
}

.plus {
	color: #03b1e6;
	background: none;
	font-weight: 900;
}

.minus {
	color: #f22d49;
	background: none;
	font-weight: 900;
}

/*STRONA GŁÓWNA*/ 
#main-page {
	min-height: 100vh;
	background: url('bg4.png');
	color: #f22d49;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	background-size: cover;
}

#main-page h1 {
	position: relative;
	top: 40%;
	left: 0;
	right: 0;
	mix-blend-mode: hard-light;
	font-size: 4em;
	color: #03b1e6;
	text-align: center;
	margin-bottom: 1em;
	padding: 0;	
	background: -webkit-linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
	-webkit-background-clip: text;
	-webkit-text-stroke: .08em transparent;
 
}

#main-page h1::before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	color: transparent;
	background: -webkit-linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
	-webkit-background-clip: text;
	-webkit-text-stroke: .04em #202020;
	border-right: 2px solid #03b1e6;
	overflow: hidden;
	white-space: nowrap;
	animation: title 8s linear infinite;
}

@keyframes title {
	0%, 10%, 100% {
		width: 0;
	}
	70%, 90% {
		width: 100%;
	}
}

#main-page h2 {
	color: #312e3f;
	background: rgba(255, 255, 255, 0.5);
	padding: 0.2em;
}

h2 mark {
	background: url(text.png);
	background-position: bottom;
	animation: bg 25s infinite;
	font-size: 1.4em;
	background-size: cover;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

@keyframes bg {
	0% {
		background-position: bottom;
	}
	50% {
		background-position: top;
	}
	100% {
		background-position: bottom;
	}
}

.info {
	z-index: 90;
	position: absolute;
	top: 65vh;
	right: 0;
	width: 20vw;
	height: 7vh;
	font-size: 2em;
	font-weight: 900;
	background: rgba(49, 46, 63, 0.5);
	text-align: center;
	line-height: 7vh;
	color: transparent;
	transition: width 1s ease-in-out,
				color 250ms ease-in-out;
}

.info:hover {
	width: 30vw;
	color: white;
	transition: width 1s ease-in-out,
				color 1s ease-in-out 500ms;
}

/*STRONA INSTALACJI*/
#install {
	min-height: 100vh;
	background: #312e3f;
	color: #FFF;	
}


.instrukcja {
	display: flex;
	flex-direction: column;
	align-items: center;
}

mark {
	background: #f22d49;
	padding: 0.2em;
}

.instrukcja > p{
	margin-bottom: 1em;
	font-size: 1.5em;
	text-align: center;
	line-height: 1.4em;
}

#install img {
	margin-bottom: 2em;
}

/*LISTA MODÓW*/
#mods {
	position: relative;
	min-height: 100vh;
	background: url('bg3.png');
	background-repeat: repeat;
	background-size: cover;
	color: #f22d49;	
}

#mods h1{
	text-shadow: 1px 1px 1px black;
	mix-blend-mode: screen;
	color: #03b1e6;
}

.mod-list {
	margin: 1em auto 0 auto;
	width: 60%;
	min-height: 40%;
	outline: 1px dashed #f22d49;
	outline-offset: -10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	padding: 2em;
	background: rgb(255, 255, 255, 0.75);
	color: #000;
	text-shadow: 1px 1px 1px black;
}

h2 {
	text-shadow: none;
	font-size: 2em;
}

.mod-list div {
	width: 90%;
	margin: 0 auto;
}

.mod-list p {
	font-size: 1.5em;
	margin-bottom: 5px;
	text-shadow: none;
}

.mod-list p a {
	color: #03b1e6;
	font-size: 1.2em;
	text-shadow: 1px 1px 1px #000;
	text-decoration: none;
}

.mod-list p a:hover {
	color: #f22d49;
}

/*ORIGINY*/
#origins {
	position: relative;
	min-height: 94vh;
	background: #312e3f;
	color: #FFF;
}

.rasy {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#origin {
	border: 1px dashed blue;
	width: 40%;
	min-height: 200px;
	background: #FFF;
	color: #000;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1em;
}

.rasy > ul {
	width: 50%;
	padding: 1.5em;
	display: flex;
	justify-content: space-around;
}

.rasy ul li {
	margin-bottom: 4px;
	position: relative;
}

.title {
	padding: 1em 0 0 2em;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	font-size: 2.5rem;
}

ul > h1 {
	font-size: 1.05em;
	font-weight: 700;
}

.icon img{
	position: absolute;
	left: -25%;
	top: 0;
	width: 18%;
	aspect-ratio: 1;
}

@media screen and (max-width: 960px){

	.rasy {
		justify-content: space-evenly;
	}
	.rasy > ul {
		display: block;
		font-size: 0.75em;
		padding: 1.5em .5em 1.5em .5em;
	}
	
	#origin {
		overflow: wrap;
		font-size: 0.65em;
		padding: 0.5em;
		width: 50%;
	}
	
	.title {
		padding: 0.5em 0 0.5em 0.2em;
		letter-spacing: 0.1em;
	}
	
	#origin ul {
		padding: 0;
	}
	
	#sekcja {
		margin-top: 0;
	}
	
	#main-page {
		background-position: center;
	}
	
	#main-page h2 {
		position: absolute;
		top: 75%; 
	}
	
	h2 mark {
		font-size: 1.2em;
	}
	
	#mods {
		background-position: center;
	}
	
	#main-page h1 {
		font-size: 4.5em;
		text-align: center;
		margin-bottom: 0;
		color: #03b1e6;
		-webkit-text-stroke: 0;
	}
	
	#main-page h1::before {
		all: unset;
	}
	
	#main-page h2 {
		transform: translateY(-10vh);
		font-size: 2em;
		text-align: center;
	}
	
	img {
		width: 100%;
		height: 100%;
	}
	
	.instrukcja {
		padding: 0 .2em 0 .2em;
	}
	.instrukcja > p{
		font-size: 1.2em;
		line-height: 1.5em;
	}
	
	.mod-list {
		width: 96%;
	}

	.mod-list h2 {
		font-size: 2em;
	}

	.mod-list p {
		font-size: 1.9em;
	}

	.mod-list p a {
		font-size: 1em;
	}
	
	.info {
		width: 50vw;
		font-size: 2em;
		top: 85%;
	}
	
	.info:hover {
		width: 60vw;
	}
	
	.icon {
		display: none;
	}
}

@media screen and (min-width: 500px){
	.rasy > ul {
		font-size: .95em;
	}		
	
	#origin {
		font-size: 0.85em;
	}
}

@media screen and (min-width: 500px) and (max-width: 800px){
	.mod-list h2 {
		font-size: 1.6em;
	}

	.mod-list p {
		font-size: 1.4em;
	}

	.mod-list p a {
		font-size: 1.2em;
	}	
}

@media screen and (max-width: 1340px){
	.info {
		background: rgba(255, 255, 255, .5);	
	}	
	
	.info:hover{
		color: rgb(49, 46, 63);	
	}
	
	#main-page {
		background-position: center;
	}
}

@media screen and (max-width: 400px){

	.info {
		font-size: 1.4em;
	}
	
	.info:hover {
		width: 80vw;
	}
	
	#main-page h1 {
		font-size: 3.2em;
	}
	
	#main-page h2 {
		font-size: 1.1em;
	}
	
	.mod-list h2 {
		font-size: 1.35em;
	}

	.mod-list p {
		font-size: 1.25em;
	}

	.mod-list p a {
		font-size: 1em;
	}
}

